# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.rom
*.cci
*.cof
*.c~
*.fct
*.map
*.prj~
*.a
*.o
*.asm
*.lst
*.obj
*.str1
*.sym1
*.sym2
*.sym3
*.hex
*.out
*.sim
*.map
*Debug*
*settings*
*.tmp
*.prj
*.atsln
BMP085.cproj
*.cwp
